.login-button-button-button{
    text-shadow: -1px -1px 0 rgb(70, 70, 70), 1px -1px 0 rgb(70, 70, 70), -1px 1px 0 rgb(70, 70, 70), 1px 1px 0 rgb(70, 70, 70);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 600px ;
    position: absolute;
    right: 20px;
    border-radius: 25px;
    background-color: #F9BE32;
    padding: 12px;
    width: 70px;
    margin-top: 0px;
    text-align: center;
    top:25px;
    cursor: pointer;
}


.signup-button-button-button{
    text-shadow: -1px -1px 0 rgb(70, 70, 70), 1px -1px 0 rgb(70, 70, 70), -1px 1px 0 rgb(70, 70, 70), 1px 1px 0 rgb(70, 70, 70);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 800px ;
    position: absolute;
    right: 120px;
    border-radius: 25px;
    background-color: #F9BE32;
    padding: 12px;
    width: 70px;
    margin-top: 0px;
    text-align: center;
    top:25px;
    cursor: pointer;
}

.login-button-button-show{
    display: flex;
}

.login-button-button{
    display: none;
}

.signup-button-button-show{
    display: flex;
}

.signup-button-button{
    display: none;
}

.login-button-button-container{
    display: none;
}

.login-button-button-container-show{
    display: flex;
}
