.tournament-details-outer{
    top: 80px;
    padding: 30px;
    position: relative;
}

.tournament-details-body{
    margin-top: 20px;
    border-style: groove;
    border-radius: 25px;
    border-color: gold;
    border-width: 2px;
    padding: 20px;
    color: white;
    font-family:sans-serif;
    font-size: 17px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.tournament-details-header{
    display: flex;
}

.tournament-details-date{
    margin: 7px;
    margin-left: 20px;
}

.tournament-details-header-image{
    background-color: transparent;
    border-radius: 20px;
    width: 30vw;
    height: auto;
    margin: 0;
    padding: 0;
    float: left;
}

.tournament-details-header-info{
    margin-right: 2vw;
    padding-left: 20px;
    color: white;
}

.tournament-details-header-title{
    margin-top: 4vh;
    font-size: 7vh;
}

.tournament-details-header-game{
    font-size: 4vh;
}

.tournament-details-header-creator{
    font-size: 3vh;
}


.tournament-details-partricipants{
    color:white;
    font-family:sans-serif;
}

.tournament-details-partricipants-button{
    width: 115px;
    height: 25px;
    border-radius: 25px;
    background-color: #F9BE32;
    padding: auto;
    display: flex;
    justify-content: center;
    padding-top: 3px;
}

.tournament-details-partricipants-expand{
    display: flex;
}

.tournament-details-partricipants-list-container{
    padding-left: 25px;
}


.tournament-details-partricipants-expand-button{
    display: flex;
}

.tournament-details-partricipants-list-show{
    display: block;
}

.tournament-details-partricipants-list{
    display: none;
}

.tournament-details-join-button-show{
    right: 20px;
    position: absolute;
    bottom: 8px;
    color: white;
    width: 80px;
    height: 25px;
    border-radius: 25px;
    background-color: #F9BE32;
    padding: auto;
    display: flex;
    justify-content: center;
    padding-top: 3px;
}
.tournament-details-join-button{
    display: none;
}
.tournament-bracket-box{
    padding: 30px;
    border-radius: 25px;
    border-style: ridge;
    border-color: #F9BE32;
    background-color:#3D3B52;
    width:fit-content;
    height: fit-content;
    display: flex;
    /* position: relative; */
    overflow-y: auto;
}

.tournament-details-back{
    position: absolute;
    color: white;
    width: 80px;
    height: 25px;
    top: 20px;
    right: 0px;
    font-size: 32px;
}

.t-edit-button-active{
    position: absolute;
    right: 0px;
    color:#F9BE32;
    width: 80px;
    height: 25px;
    top: 60px;
    right: 0px;
    font-size: 32px;
}

.tournament-details-back :hover {
    
}

.t-edit-button-active :hover {

}