.tournament-details-outer{
    margin-top: 20vh;
    padding: 30px;
    position: relative;
}

.tournament-details-body{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-top: 20px;
    border-style: groove;
    border-radius: 25px;
    border-color: gold;
    border-width: 2px;
    padding: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    /* background: rgb(81,1,184);
    background: linear-gradient(90deg, rgba(81,1,184,1) 0%, rgba(75,9,121,1) 100%); */
}

.tournament-details-header{
    display: flex;
}

.tournament-details-date{
    margin: 7px;
    margin-left: 20px;
}

.tournament-details-header-image{
    background-color: transparent;
    border-radius: 20px;
    width: 30vw;
    height: 30vh;
    margin: 10;
    padding: 0;
    float: left;
}

.tournament-details-header-info{
    margin-right: 2vw;
    padding-left: 20px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: Arial, Helvetica, sans-serif;
}

.tournament-details-header-title{
    margin-top: 4vh;
    font-size: 7vh;
}

.tournament-details-header-game{
    font-size: 4vh;
}

.tournament-details-header-creator{
    font-size: 3vh;
}


.tournament-details-partricipants{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.tournament-details-partricipants-button{
    width: 115px;
    height: 25px;
    border-radius: 25px;
    background-color: #F9BE32;
    padding: auto;
    display: flex;
    justify-content: center;
    padding-top: 3px;
}

.tournament-details-partricipants-expand{
    display: flex;
}

.tournament-details-partricipants-list-container{
    padding-left: 25px;
    display: block;
}


.tournament-details-partricipants-expand-button{
    display: flex;
}

.tournament-details-partricipants-list-show{
    display: block;
}

.tournament-details-partricipants-list{
    display: none;
}

.tournament-details-join-button-show{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    right: 60px;
    position: absolute;
    bottom: -10px;
    color: white;
    width: 80px;
    height: 25px;
    border-radius: 25px;
    background-color: #F9BE32;
    padding: auto;
    display: flex;
    justify-content: center;
    padding-top: 3px;
    text-shadow: -1px -1px 0 rgb(70, 70, 70), 1px -1px 0 rgb(70, 70, 70), -1px 1px 0 rgb(70, 70, 70), 1px 1px 0 rgb(70, 70, 70);
    cursor: pointer;
}
.tournament-details-join-button{
    display: none;
}
.tournament-bracket-box{
    padding: 30px;
    /* border-radius: 25px;
    border-style: ridge;
    border-color: #F9BE32;
    background-color:#3D3B52; */
   /* width:95%;
    height: fit-content; */
    display: flex;
    /* position: relative; */
    overflow-y: auto;
}

.tournament-details-back{
    position: absolute;
    color: white;
    width: 80px;
    height: 25px;
    top: 20px;
    right: 0px;
    font-size: 32px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: Arial, Helvetica, sans-serif;
}

.t-edit-button-active{
    position: absolute;
    right: 0px;
    color:#F9BE32;
    width: 80px;
    height: 25px;
    top: 60px;
    right: 0px;
    font-size: 32px;
}

.tournament-details-back :hover {
    
}

.t-edit-button-active :hover {

}
.banner-tournament{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-top: 0;
    z-index: 2;
    position: sticky;
    top: -1px;
    height: 80px;
    width:100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
    background: -webkit-linear-gradient(-60deg, #8a2be2 50%, #6f1abd 50%);
    background: linear-gradient(-60deg, #8a2be2 50%, #6f1abd 50%);
}

.end-registration{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    position: absolute;
    bottom: -13px;
    left: 60px;
    color: white;
    width: 135px;
    height: 25px;
    border-radius: 25px;
    background-color: #F9BE32;
    padding: auto;
    display: flex;
    justify-content: center;
    padding: 3px;
    text-shadow: -1px -1px 0 rgb(70, 70, 70), 1px -1px 0 rgb(70, 70, 70), -1px 1px 0 rgb(70, 70, 70), 1px 1px 0 rgb(70, 70, 70);
    cursor: pointer;
}