.tile-layout{
    width: 380px;
    height: 234px;
    display: flex;
    border-radius: 15px;
    border-style: groove;
    border-color: blueviolet;
    white-space: nowrap;
    flex-direction: column;
    margin: 15px;
}

.tile-image-outer{
    border-radius: inherit;
}

.tile-image{
    height: 200px;
    width: 100%;
    border-radius: inherit;
    margin: 0;
    padding: 0;
    opacity: 100%;
}

.tile-name{
    display: flex;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
}