body{
    margin: 0;
}

.spacer{
    height: 80px;
}

.faqs-page{
    margin-top: 80px;
    margin: 0;
    padding: 0;
    /* background-image: url('../../resources/img/GetReady.png'); */
    background-repeat: no-repeat;
    background-size: 800px 800px;
    background-position-x: center;
    background-position-y: center ;
    background-attachment: fixed;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(75,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
