body{
    margin: 0;
}

.my-tournament-overlay{
    display: none;
}

.my-tournament-overlay-active{
    position: fixed;
    display: block;
    z-index: 15;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.my-tournament-overlay-screen{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}

.my-tournaments-page{
    position: relative;
    
}

.create-tounament-wrapper{
    z-index: 17;
    position: fixed;
    /* left: 40%; */
    top: calc(100vh/2 - 250px);
    left: calc(100vw/2 - 150px);
}

.games-list-outer{
    margin-top: 20px;
    width: 83%;
    margin-left: auto;
    margin-right: auto;
}

.games-list-inner{
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.my-tourny-list-inner{
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
}