 #tournament{
     padding:10px;
     text-align: center;  
    
     /* background-color: #ccc; */
  }
  
  .bracket{
    border:grey solid 5px;
    background-color: rgb(57, 51, 51);
    margin-top: 20px;
    padding: 10px;
  }
  
  #bracketheader {
    color: grey;
  }
  
  .clear {
    clear:both;
  }
  
  .round {
    float: left;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .match {
    display: block;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .entrant {
    display: block;
    margin: auto;
  }
  
.tournament-bracket-btn{   
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    border-radius: 25px;
    background-color: #F9BE32;
    padding: 12px;
    width: fit-content;
    margin-top: 0px;
    text-align: center;
}

.tournament-bracket-closeBtn{
    color: #ccc;
    float: right;
    font-size:2rem;
}

.tournament-bracket-closeBtn:hover, .closeBtn:focus{
    color: #000;
    text-decoration: none;
    cursor:pointer;
}