.seed{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    border-style: ridge;
    border-radius: 10px;
    border-color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
}
  
.seedID{
    float: left;
    margin-right: 10px;
    color: white;
    padding-left: 10px;
}

.seedArrows{
    top: -15px;
    float: left;
    margin-right: 10px;
    color: lightgray;
}

.seedArrow{
    height: 20px;
}
.seedArrow:hover, .seedArrow:focus{
    color:#F9BE32;
    cursor:pointer;
}

.seedName{
    float: left;
    color: white;
}




.tournament-bracket-closeBtn{
    /* position: absolute; */
    padding: 5px;
    color: #ccc;
    float: right;
    font-size:2rem;
}
.seed-outter{
    display: grid;
}
.updateSeeding{
    text-shadow: -1px -1px 0 rgb(70, 70, 70), 1px -1px 0 rgb(70, 70, 70), -1px 1px 0 rgb(70, 70, 70), 1px 1px 0 rgb(70, 70, 70);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    border-radius: 25px;
    background-color: #F9BE32;
    padding: 12px;
    width: fit-content;
    margin-top: 0px;
    text-align: center;
    cursor: pointer;
}
.endSeeding{
    text-shadow: -1px -1px 0 rgb(70, 70, 70), 1px -1px 0 rgb(70, 70, 70), -1px 1px 0 rgb(70, 70, 70), 1px 1px 0 rgb(70, 70, 70);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    border-radius: 25px;
    background-color: #F9BE32;
    padding: 12px;
    width: fit-content;
    margin-top: 0px;
    text-align: center;
    cursor: pointer;
}
.seeding-btns{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}