body{
    margin: 0;
    min-height: 100vh;
}

.spacer{
    height: 80px;

}

.search-page{
    /* margin-top: 80px; */
    padding-top: 2%;
    margin: 0;
    /* padding: 0; */
    /* background-image: url('../../resources/img/GetReady.png'); */
    background-repeat: no-repeat;
    background-size: 800px 800px;
    background-position-x: center;
    background-position-y: center ;
    background-attachment: fixed;
}

.games-list-outer{
    margin-top: 20px;
    width: 83%;
    margin-left: auto;
    margin-right: auto;
}

.games-list-inner{
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;

}
.banner-tournament{
    justify-content: start;
    margin-top: -10%;
    z-index: 2;
    position: sticky;
    top: -1px;
    height: 80px;
    width:100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
    background: -webkit-linear-gradient(-60deg, #8a2be2 50%, #6f1abd 50%);
    background: linear-gradient(-60deg, #8a2be2 50%, #6f1abd 50%);
}
.contact-us-search{
    margin-top:auto; 
    position: fixed;
    bottom: 0;
    width: 100%;
}