body{
    margin: 0;
    min-height: 100vh;
}

.spacer{
    height: 10px;

}

.search-page{
    margin-top: 1vh;
    padding-top: 17vh;
    margin: 0;
    /* padding: 0; */
    /* background-image: url('../../resources/img/GetReady.png'); */
    background-repeat: no-repeat;
    background-size: 800px 800px;
    background-position-x: center;
    background-position-y: center ;
    background-attachment: fixed;
}

.banner-tournament{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    justify-content: start;
    margin-top: -10%;
    z-index: 1;
    position: sticky;
    top: -1px;
    height: 80px;
    width:100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
    background: -webkit-linear-gradient(-60deg, #8a2be2 50%, #6f1abd 50%);
    background: linear-gradient(-60deg, #8a2be2 50%, #6f1abd 50%);
}

.contact-us-search{
    margin-top:auto; 
    position: absolute;
    right: 0;
    bottom: inherit;
    left: 0;
    width: 100%;
}