body{
    margin: 0;
}

.spacer{
    height: 80px;
}

.landing-page{
    margin-top: 80px;
    margin: 0;
    /* padding-top: 6rem; */
    /* background-image: url('../../resources/img/GETREADY.svg'); */
    background-repeat: no-repeat;
    background-size: 800px 800px;
    background-position-x: center;
    background-position-y: center ;
    background-attachment: fixed;
}

.games-list-outer{
    margin-top: 20px;
    width: 83%;
    margin-left: auto;
    margin-right: auto;
}

.games-list-inner{
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.games-list-outer .tile-layout{
    display: inline-block;
}

.games-list-heading{
    color: white;
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
}

.landing-title{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    padding-top: 7px;
}

.tourny-list-outer{
    margin-top: 20px;
    width: 100%;
}

.tourny-list-inner{
    justify-content: center;
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.view-dash-button-invalid{
    display: none;
}

.landing-button-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.view-dash-button-valid{
    border-radius: 25px;
    background-color: #F9BE32;
    padding: 15px;
    width: 200px;
    margin: 20px;
    align-content: center;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.Contact-us{
    margin-bottom: 0;
}

.banner{
    z-index: 4;
    text-align: center;
    align-items: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 300px;
    position: relative;
    --xy: 52% 22%; 
	 --a: 122deg; 
     --b: 37deg;
	--c0: #ab66ea; 
    --c1: #8a2be2; 
    --c2: #6f1abd; 
    --c3: #5c2391;
    background:conic-gradient(from var(--b) at var(--xy), var(--c0) var(--a), var(--c1) 0% 50%, var(--c2) 0% calc(180deg + var(--a)), var(--c3) 0%);
}
.words-title{
    font-size: 70px;
    font-weight: bold;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.words-slogan{
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.words-task{
    color:rgba(245, 245, 245, 0.8) ;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.behind-landing{
    margin-top: -10%;
    z-index: 3;
    position: sticky;
    top: -1px;
    background-color: blueviolet;
    height: 80px;
    width:100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
    background: -webkit-linear-gradient(-60deg, #8a2be2 50%, #6f1abd 50%);
    background: linear-gradient(-60deg, #8a2be2 50%, #6f1abd 50%);
}

.info{
    margin-top: 2%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width:83%;
    padding: 20px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    border-color: #F9BE32;
    border-radius: 25px;
    border-style: ridge;
}