.create-tounament-inner{
    display: flex;
    margin-top: 10px;
    border-radius: 25px;
    border-style: groove;
    width: fit-content;
    padding: 10px;
    padding-top: 15px;
    border-color: #F9BE32;
    width: 300px;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: darkorchid;
}

.create-form-title{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color:white;
    font-size: 30px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.profile-heading{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 35px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.create-item{
    padding: 3px;
    width: 100%;
}

.create-item-heading{
    color: white;
    padding-left: 10px;
}

.create-item-input{
    padding: 7px;
    border-radius: 20px;
    background-color: white;
}

.create-item-button{
    text-shadow: -1px -1px 0 rgb(70, 70, 70), 1px -1px 0 rgb(70, 70, 70), -1px 1px 0 rgb(70, 70, 70), 1px 1px 0 rgb(70, 70, 70);
    display: flex;
    justify-content: center;
}
.contact-us-myprofile{
    bottom: 0;
}
.profile-box-outter{
    padding-top: 10vh;
    height: 83vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-box-inner{
    border-radius:25px;
    background-color: blueviolet;
    width: min-content;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 30px;
    margin-left: auto;
    margin-top: 100px;
    margin-right: auto;
}
.banner-profile{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-top: -10%;
    z-index: 2;
    position: sticky;
    top: -1px;
    height: 80px;
    width:100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
    background: -webkit-linear-gradient(-60deg, #8a2be2 50%, #6f1abd 50%);
    background: linear-gradient(-60deg, #8a2be2 50%, #6f1abd 50%);
}
