.create-tounament-inner{
    display: flex;
    margin-top: 10px;
    border-radius: 25px;
    border-style: groove;
    width: fit-content;
    padding: 10px;
    padding-top: 15px;
    border-color: #F9BE32;
    width: 300px;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: darkorchid;
}

.create-form-title{
    color:white;
    font-size: 30px;
    padding-bottom: 10px;
}

.create-item{
    padding: 3px;
    width: 100%;
}

.create-item-heading{
    color: white;
    padding-left: 10px;
}

.create-item-input{
    padding: 7px;
    border-radius: 20px;
    background-color: white;
}

.create-item-button{
    display: flex;
    justify-content: center;
}
.contact-us-myprofile{
    bottom: 0;
}
.profile-box{
    height: 83vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-profile{
    margin-top: -10%;
    z-index: 2;
    position: sticky;
    top: -1px;
    height: 80px;
    width:100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
    background: -webkit-linear-gradient(-60deg, #8a2be2 50%, #6f1abd 50%);
    background: linear-gradient(-60deg, #8a2be2 50%, #6f1abd 50%);
}
